name: CI

on:
  push:
    branches:
      - "feature/*"
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4

        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Run lint
        run: npm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test

  dbt_validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip
      - name: Install dbt
        run: pip install dbt-core dbt-bigquery
      - name: Cache dbt packages
        uses: actions/cache@v4
        with:
          path: dbt/dbt_packages
          key: dbt-packages-${{ hashFiles('dbt/packages.yml') }}
      - name: dbt deps
        working-directory: ./dbt
        run: dbt deps
      - name: dbt parse
        working-directory: ./dbt
        run: dbt parse

  tofu_plan:
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: read
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.6.0

      - name: Configure Google Cloud credentials
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Tofu Init
        run: tofu init
        working-directory: ./tf/environments/production

      - name: Write secret to secrets.auto.tfvars
        run: |
          cat <<EOF > tf/environments/production/secrets.auto.tfvars
          ${{ secrets.TOFU__SECRETS_TF_VARS }}
          EOF
        shell: bash

      - name: Tofu Plan
        id: plan
        run: tofu plan -no-color
        working-directory: ./tf/environments/production
